.service {
  padding: 80px 0;
}

.service-item {
  padding: 20px 0;
  border-top: 1px solid #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service-item-img {
  width: 290px;
}

.service-detail {
  width: calc(100% - 330px);
}

.service-item:last-child {
  border-bottom: 1px solid #222;
}

.service-item-ttl {
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .service-item-img{
    width: 100%;
  }

  .service-detail {
    width: 100%;
  }
}